html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type="text"] {
  background: none;
  height: 50px;
  border-radius: 8px;
  width: 100%;
  padding: 12px 10px;
  border: 1px solid #d7d3d2;
}
