.main {
  min-height: 100vh;
  background-color: #feefeb;
}

.hero {
  padding: 120px 0;

  &Container {
    max-width: 900px;
    margin: 0 auto;
  }

  &Title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;
  }

  &Text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
  }
}

.product {
  display: flex;
  align-items: center;
  margin-top: 50px;

  &Left {
    flex: 1;
    padding: 0 1rem;
    flex-shrink: 0;
  }

  &Title {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  &Select {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
    background: none;
    border: 1px solid #d7d3d2;
    width: 100%;
    height: 52px;
    border-radius: 10px;
    padding: 8px 12px;
  }

  &Right {
    flex: 1.2;
    padding: 0 1rem;
    flex-shrink: 0;
  }

  img {
    max-width: 100%;
  }
}
